// colors
$numBtnColor: #dbe2ef;
$operatorBtnColor: #3f72af;
$equalBtnColor: #19385b;
$memoBtnColor: #2853b8;
$clearBtnColor: #d57d7d;
$displayBoxColor: #a3c1e2;
$appBgColor: #c4d1e1;
$white: #ffffff;
$black: #000000;

// font
$font: "Poppins", sans-serif;
